# Node
node_modules
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Nuxt
.nuxt
.nitro
.output
.cache
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Environment
.env.local
.env.*.local

# Logs
logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md
docs
*.md